USE [master]
GO
/****** Object:  Database [Cities]    Script Date: 26.04.2016 16:04:33 ******/
CREATE DATABASE [Cities]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cities', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Cities.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Cities_log', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Cities_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cities].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cities]
GO
/****** Object:  Table [dbo].[Все города2]    Script Date: 26.04.2016 16:04:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Все города2](
	[Column 0] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Все города2] ([Column 0]) VALUES (N'Аба')
INSERT [dbo].[Все города2] ([Column 0]) VALUES (N'Абадан')
INSERT [dbo].[Все города2] ([Column 0]) VALUES (N'Абакалики')
GO
USE [master]
GO
