USE [master]
GO
/****** Object:  Database [Countries]    Script Date: 26.04.2016 16:05:40 ******/
CREATE DATABASE [Countries]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Countries', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Countries.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Countries_log', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Countries_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Countries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Countries]
GO
/****** Object:  Table [dbo].[Все страны мира]    Script Date: 26.04.2016 16:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Все страны мира](
	[Абхазия] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Все страны мира] ([Абхазия]) VALUES (N'Австралия')
INSERT [dbo].[Все страны мира] ([Абхазия]) VALUES (N'Австрия')
INSERT [dbo].[Все страны мира] ([Абхазия]) VALUES (N'Азавад')
GO
USE [master]
GO
