USE [master]
GO
/****** Object:  Database [Female names]    Script Date: 26.04.2016 16:06:24 ******/
CREATE DATABASE [Female names]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Female names', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Female names.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Female names_log', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Female names_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Female names].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Female names]
GO
/****** Object:  Table [dbo].[female names]    Script Date: 26.04.2016 16:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[female names](
	[Августа] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
